* {
  box-sizing: border-box;
  margin: 0;
}

#aboutme {
  width: 100%;
  height: 100%;
}

#aboutmetext {
  position: absolute;
  top: 85px;
  right: 40px;
  width: 550px;
  font-size: 25px;
  text-align: right;
}

#container {
  height: 100%;
  width: 100%;
  background: url('../img/lake.jpg') no-repeat center fixed;
  background-size: cover;
}

.onpage {
  color: pink;
}

#home, #codepen, #github, #games {
  border-right: 1.5px solid green;
  font-size: 20px;
}

a {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: pink;
}

a:visited {
  color: green;
}

nav {
  padding: 10px;
  border: 1px solid green;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 15px;
}

#all {
  display: inline-block;
  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #FCF2FC;
}

#canvasHere {
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

button {
  height: 50px;
  width: 50px;
}

#buttons {
  text-align: center;
  width: 100%;
  display: inline-block;
}

@media only screen and (max-width: 450px) {
  nav {
    padding: 0;
  }

  button {
    background: #F2FAFC;
  }

  #home {
    position: absolute;
    top: 10px;
    left: 5px;
    border: 0;
  }

  #games {
    position: absolute;
    top: 10px;
    right: 5px;
    border: 0;
  }

  #codepen > a, #github > a {

  }

  #github {
    position: absolute;
    bottom: 10px;
    right: 5px;
    border: 0;
}

  #codepen {
    position: absolute;
    bottom: 10px;
    left: 5px;
    border: 0;
  }

  #aboutmetext {
    width: 100%;
    text-align: center;
    right: 0;
    font-size: 20px;
    padding: 45px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  nav {
    padding: 0;
  }

  button {
    background: #F2FAFC;
  }

  #home, #codepen, #github, #games {
    border: 1px solid green;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 25%;
    padding: 5px 0;
  }

  #aboutmetext {
    width: 100%;
    text-align: center;
    right: 5px;
    font-size: 20px;
    padding: 60px;
  }
}
