.App {
  text-align: center;
  box-sizing: border-box;
}

.kayleigh {
  color: white;
}

.picture {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.madeBy {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
